@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/js/jquery-3.2.1.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/vendor/noui/nouislider.min.js"></script>
    <script src="~/js/main_form.js"></script>
    <script src="~/js/Intimidatetime.min.js"></script>
    <script>
        $(window).on('load', function () {
            /*------------------
                Preloder
            --------------------*/
            $(".loader").fadeOut();
            $("#preloder").delay(400).fadeOut("slow");

            var datePicker = $('#ex_basic_1').intimidatetime({
                inline: true,
                mode: null,
                previewFormat: null,
                groups: [
                    { name: 'date', units: ['day', 'month', 'year'] }
                ],
                events: {
                    close: function (e, inst) {
                        return false;
                    }

                },
                units: {
                    day: { map: 'Date', type: 'select', min: 1, max: 31, step: 1, value: null, label: '' },
                    month: { map: 'Month', type: 'select', min: 0, max: 11, step: 1, format: 'MMM', value: null, label: '' },
                    year: { map: 'FullYear', type: 'select', range: 100, step: 1, format: 'yyyy', value: null, label: '' }
                }

            });
            datePicker.intimidatetime('open');

            $(".js-select2").each(function () {
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });
            });

            $(".js-select-date").each(function () {
                $(this).select2({
                    minimumResultsForSearch: 20
                });
            });

            $('#nonEventForm').on('submit', function (e) {
                e.preventDefault();
                $(".loader2").fadeIn();
                $("#preloder2").fadeIn();
                $("#nonEventForm").fadeOut();
                var formValues = $("#nonEventForm").serializeArray();
                var formObjecValues = objectifyForm(formValues);
                formObjecValues["address"] = $("#address").val();

                var formData = new FormData();
                formData.append('Photo', $('#photoInput')[0].files[0]);
                formData.append('Name', formObjecValues["name"]);
                formData.append('Gender', formObjecValues["gender"]);
                formData.append('IdNumber', formObjecValues["id_number"]);
                formData.append('Address', formObjecValues["address"]);
                formData.append('Email', formObjecValues["email"]);
                formData.append('MobileNumber', formObjecValues["mobile"]);
                formData.append('MaritalStatus', formObjecValues["maritalStatus"]);
                formData.append('Cabang', formObjecValues["cabang"]);

                $.ajax({
                    url: "/Register/NonEventCreate",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (res) {
                        $(".loader2").hide();
                        $('#nonEventForm').each(function () {
                            this.reset();
                        });
                        $("#preloder2").hide();
                        $("#thankyou").fadeIn();
                        setTimeout(function () {
                            $("#thankyou").fadeOut('fast', function () {
                                $("#nonEventForm").fadeIn();
                            });
                        }, 3000);
                    }
                });

            });

        });

        function objectifyForm(formArray) {//serialize data function

            var returnArray = {};
            for (var i = 0; i < formArray.length; i++) {
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }
            return returnArray;
        };



/**/</script>
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/vendor/animate/animate.css" />
<link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="~/vendor/noui/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util_form.css">
<link rel="stylesheet" type="text/css" href="~/css/main_form.css">
<link rel="stylesheet" type="text/css" href="~/css/Intimidatetime.min.css">

<style>
    #preloader2 {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999999;
        background: #fff;
    }

    .loader2 {
        width: 40px;
        height: 40px;
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;
        border-radius: 60px;
        animation: loader 0.8s linear infinite;
        -webkit-animation: loader 0.8s linear infinite;
    }

    .bg-mineski {
        background-color: #ffb320;
    }

    .wrap-inputthankyou {
        width: 100%;
        position: relative;
        border: 1px solid #ffb320;
        border-radius: 13px;
        padding: 10px 30px 9px 22px;
        margin-bottom: 20px;
    }
</style>




<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div id="preloader2" style="display:none"></div>
            <div class="loader2" style="display:none"></div>
            <div id="thankyou" class="wrap-inputthankyou bg-mineski" style="display:none">
                <span style="position:relative; left:40%;top:50%">Thank you for registering!</span>
            </div>
            <form class="contact100-form validate-form" id="nonEventForm" enctype="multipart/form-data" onsubmit="return false;">
                <span class="contact100-form-title">
                    Register
                </span>

                <div class="wrap-input100 bg1">
                    <span class="label-input100">Nama</span>
                    <input class="input100" type="text" name="name" placeholder="Nama">
                </div>

                <div class="wrap-input100 bg1">
                    <span class="label-input100">KTP</span>
                    <input class="input100" type="number" name="id_number" placeholder="1234567890987654">
                </div>

                <div class="wrap-input100 bg0">
                    <span class="label-input100">Alamat</span>
                    <textarea class="input100" name="address" id="address" placeholder="Alamat"></textarea>
                </div>

                <div class="wrap-input100 bg1">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="email" placeholder="Email">
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Jenis Kelamin</span>
                    <select class="js-select2" name="gender">
                        <option value="">Jenis Kelamin</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                    <span class="label-input100">Status Pernikahan</span>
                    <select class="js-select2" name="maritalStatus">
                        <option value="">Status Pernikahan</option>
                        <option value="married">Married</option>
                        <option value="single">Single</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>

                <div class="wrap-input100 bg1">
                    <span class="label-input100">No HP</span>
                    <input class="input100" type="number" name="mobile" placeholder="08123456789">
                </div>

                <div class="wrap-input100 bg1">
                    <span class="label-input100">Cabang</span>
                    <select class="js-select2" name="cabang">
                        @foreach (var cabang in ViewBag.cabangs)
                        {
                        <option value="@cabang.Name">@cabang.Name</option>
                        }
                     
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>

                <div class="wrap-input100 bg1">
                    <span class="label-input100">Upload / Take Image</span>
                    <input class="input100" type="file" id="photoInput" name="photo" accept="image/*;capture=camera">
                </div>



                @*<div class="w-full dis-none js-show-service">
                        <div class="wrap-contact100-form-radio">
                            <span class="label-input100">What type of products do you sell?</span>

                            <div class="contact100-form-radio m-t-15">
                                <input class="input-radio100" id="radio1" type="radio" name="type-product" value="physical" checked="checked">
                                <label class="label-radio100" for="radio1">
                                    Phycical Products
                                </label>
                            </div>

                            <div class="contact100-form-radio">
                                <input class="input-radio100" id="radio2" type="radio" name="type-product" value="digital">
                                <label class="label-radio100" for="radio2">
                                    Digital Products
                                </label>
                            </div>

                            <div class="contact100-form-radio">
                                <input class="input-radio100" id="radio3" type="radio" name="type-product" value="service">
                                <label class="label-radio100" for="radio3">
                                    Services Consulting
                                </label>
                            </div>
                        </div>

                        <div class="wrap-contact100-form-range">
                            <span class="label-input100">Budget *</span>

                            <div class="contact100-form-range-value">
                                $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
                                <input type="text" name="from-value">
                                <input type="text" name="to-value">
                            </div>

                            <div class="contact100-form-range-bar">
                                <div id="filter-bar"></div>
                            </div>
                        </div>
                    </div>*@



                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>