@{
    Layout = null;
}

<style>
    .form-group.col-md-6 {
        width: 250px;
    }

    #Address {
        resize: vertical;
    }

    :-ms-fullscreen, .e-dialog {
        max-width: 552px;
    }

    @@media only screen and (max-width: 991px) {
        .e-dialog.e-control.e-popup {
            min-width: 300px !important;
        }
    }

    @@media only screen and (min-width: 992px) {
        .e-dialog.e-control.e-popup {
            min-width: 550px !important;
            min-height: 415px;
        }

        .e-bigger .e-dialog.e-control.e-popup,
        .e-bigger .e-dialog.e-control.e-popup {
            min-height: 496px;
        }
    }

    e-dlg-header {
        display: none;
    }
</style>
<script src="~/scripts/ej2.min.js"></script>
<script>


    function actionComplete(args) {
        if (args.requestType == "delete") {
            $.post('/Dashboard/CabangDelete', {
                id: args.data[0].Id
            }).done(function (data) {

            });
        };


        if (args.requestType === 'save') {
            if (args.data.isNew == "true") {
                $.post('/Dashboard/CabangCreate', {
                    Name: args.data.Name,
                    Address: args.data.Address
                }).done(function (data) {

                  });
            } else {
                $.post('/Dashboard/CabangUpdate', {
                    Id : args.data.Id,
                    Name: args.data.Name,
                    Address: args.data.Address
                }).done(function (data) {

                  });
            }



        }
        if (args.requestType === 'beginEdit' || args.requestType === 'add') {
            let spinner = ej.popups.createSpinner({ target: args.dialog.element });
            ej.popups.showSpinner(args.dialog.element);
            console.log(args);
            if (args.requestType === 'beginEdit') {
                args.dialog.header = "Edit Cabang "+ args.rowData.Name
                document.getElementById("grid_dialogEdit_wrapper_title").innerHTML = "Detail for " + args.rowData.EventName;
                var ajax = new ej.base.Ajax({
                    url: "@Url.Action("EditCabangPartial","Dashboard")", //render the partial view
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ value: args.rowData })
                });
                ajax.send().then(function (data) {
                    appendElement(data, args.form); //Render the edit form with selected record                     
                    ej.popups.hideSpinner(args.dialog.element);
                }).catch(function (xhr) {
                    console.log(xhr);
                    ej.popups.hideSpinner(args.dialog.element);
                });
            }
            if (args.requestType === 'add') {
                var ajax = new ej.base.Ajax({
                    url: "@Url.Action("AddCabangPartial","Dashboard")", //render the partial view
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ value: args.rowData })
                });
                ajax.send().then(function (data) {
                    appendElement(data, args.form); //Render the edit form with selected record
                    ej.popups.hideSpinner(args.dialog.element);


                }).catch(function (xhr) {
                    console.log(xhr);
                    ej.popups.hideSpinner(args.dialog.element);
                });
            }

        }
        }

        function appendElement(elementString, form) {
            form.querySelector("#dialogTemp").innerHTML = elementString;
            var script = document.createElement('script');
            script.type = "text/javascript";
            var serverScript = form.querySelector("#dialogTemp").querySelector('script');
            script.textContent = serverScript.innerHTML;
            document.head.appendChild(script);
            serverScript.remove();
        }
</script>

<div class='exp-content-container'>
    <div>
        <h1 class="page-title"> Events </h1>
    </div>
    <div>
        <div class="col-md-12 margin-top col-lg-12">
            <div class="expense-grid-container">

                <ejs-grid id="grid" dataSource="ViewBag.datasource" allowFiltering="true" allowSorting="true" actionComplete="actionComplete" allowSelection="true" width="100%" height="100%" allowPaging="true" allowTextWrap="false" toolbar="@(new List<string>() { "Add", "Edit", "Delete"})">
                    <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>

                    <e-grid-pagesettings pageSize="11"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column field="Id" isPrimaryKey="true" headerText="ID"></e-grid-column>
                        <e-grid-column field="Name" headerText="Nama"></e-grid-column>                        
                        <e-grid-column field="Address" headerText="Alamat"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
                <ejs-scripts></ejs-scripts>
            </div>
        </div>
    </div>
</div>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>

