@{
    Layout = null;
}
<div class='exp-content-container'>
    <div>
        <h1 class="page-title"> Events </h1>
    </div>
    <div>
        <div class="col-md-12 margin-top col-lg-12">
            <div class="expense-grid-container">
             
                <ejs-grid id="grid" dataSource="ViewBag.datasource" allowFiltering="true" allowSorting="true" width="100%" height="100%" allowPaging="true" allowTextWrap="false">

                    <e-grid-pagesettings pageSize="11"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column field="Name" headerText="Nama"></e-grid-column>
                        <e-grid-column field="Category" headerText="Category"></e-grid-column>
                        <e-grid-column field="TodayClicks" headerText="Today"></e-grid-column>
                        <e-grid-column field="WeekClicks" headerText="This week"></e-grid-column>
                        <e-grid-column field="MonthClicks" headerText="This month"></e-grid-column>
                        <e-grid-column field="TotalClicks" headerText="Total"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
                <ejs-scripts></ejs-scripts>
            </div>
        </div>
    </div>
</div>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>

