@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using Syncfusion.EJ2

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway:500,600" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="~/css/dasboard/styles.css" rel="stylesheet" />
<link href="~/css/dasboard/index.css" rel="stylesheet" />

<script src="~/scripts/ej2.min.js"></script>

<div id="addexpenseDialog" class="expense-dialog"></div>
<style>
    .info {
        height: 100px !important;
    }
</style>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span id="menu-toggle" href="#" class="navbar-toggle e-icon" style="float:left"></span>
            <div class="navbar-brand samplenameheader"></div>
            <span id="filter-toggle" href="#" class="navbar-toggle filter-toggle e-icon" style="float:right"></span>
        </div>
    </div>
</nav>
<div>
    <aside id="sidebar-indexdefault">
        <div id="sidebar-wrapper" class="sidebar-toggle">
            <div class='samplename-header'>
                <div class='samplename'></div>
            </div>
            <div class="info align-center">
                <div class="content nameContent">
                    <p class="name" id="user-name">Hi, @ViewBag.userName</p>
                </div>
                <div class="align-self-md-center" style="padding-left: 33%;">
                    <form method="post" asp-controller="Dashboard" asp-action="Logout">
                        <input type="submit" value="Logout" class="btn-sm btn-dark" />
                    </form>
                </div>

            </div>

            <div class="page-list align-center nav-list">
                <div class='nav-item'>
                    <a class="overview ripple-element" id="nav-overview" href="#/index">Dashboard</a>
                </div>
                <div class='nav-item'>
                    <a class="userEvent ripple-element" id="nav-userEvent" href="#/userEvent">User Event</a>
                </div>
                <div class='nav-item'>
                    <a class="userNonEvent ripple-element" id="nav-userNonEvent" href="#/userNonEvent">User Non Event</a>
                </div>
                <div class='nav-item'>
                    <a class="events ripple-element" id="nav-events" href="#/events">Event</a>
                </div>
                <div class='nav-item'>
                    <a class="events ripple-element" id="nav-users" href="#/accounts">Accounts</a>
                </div>
                <div class='nav-item'>
                    <a class="events ripple-element" id="nav-cabangs" href="#/cabangs">Cabang</a>
                </div>
            </div>
        </div>
    </aside>
</div>
<div id="sidebarRightpane">
    <div class="content container-fluid rightpane">
        <div class="content-wrapper" style="margin-top:2%">
            <div id="content" class="tab-contWWWSent">
                <partial name="Dashboard" />
            </div>
        </div>
    </div>
</div>
<div id="overlay"></div>

<ejs-scripts></ejs-scripts>
@Html.EJS().ScriptManager()