@{
    Layout = null;
}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway:500,600" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/dasboard/styles.css" rel="stylesheet" />
<link href="~/css/dasboard/index.css" rel="stylesheet" />
<script src="~/scripts/ej2.min.js"></script>

<script type="text/x-template" id="detailtemplate">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <img class="photo" height="70" src="@Url.Content("~/uploads/${Photo}")" alt="${Id}" />
                </div>
            </div>            
        </div>
        <div class="col-md-4">
            <div class="row">
                <span style="font-weight: 500;">Nama: </span> ${Name}
            </div>
            <div class="row">
                <span style="font-weight: 500;">Email: </span> ${Email}
            </div>
            <div class="row">
                <span style="font-weight: 500;">HP: </span> ${MobileNumber}
            </div>
            <div class="row">
                <span style="font-weight: 500;">KTP/SIM: </span> ${IdNumber}
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <span style="font-weight: 500;">Status: </span> ${MaritalStatus}
            </div>
            <div class="row">
                <span style="font-weight: 500;">Cabang: </span> ${Cabang}
            </div>
            <div class="row">
                <span style="font-weight: 500;">Gender: </span> ${Gender}
            </div>
            <div class="row">
                <span style="font-weight: 500;white-space: pre-wrap;">Alamat: </span> <span style="white-space: pre-wrap;">${Address}</span>
            </div>
        </div>
    </div>
</script>

<script>
    function actionComplete(args) {
        if (args.requestType == "delete") {
            $.post('/Dashboard/CustomerNonEventDelete', {
                id: args.data[0].Id
            }).done(function (data) {

            });
        };

    }

    function toolbarClick(args) {
        var gridObj = document.getElementById("grid").ej2_instances[0];
        if (args.item.id === 'grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>
<body>
    <div>
        <h1 class="page-title"> Customer from Non Events </h1>
    </div>
    <div>
        <div class="col-md-12 margin-top col-lg-12">
            <ejs-grid id="grid" dataSource="ViewBag.datasource" allowExcelExport="true"  toolbarClick="toolbarClick" allowFiltering="true" allowSorting="true" height="300px" allowGrouping="true" allowPaging="true" detailTemplate="#detailtemplate" toolbar="@(new List<string>() { "Delete", "ExcelExport" })" toolbarClick="toolbarClick" actionComplete="actionComplete" >
                <e-grid-editSettings allowDeleting="true" ></e-grid-editSettings>
                <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
                <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" type="number" width="75"></e-grid-column>
                    <e-grid-column field="Name" type="string" headerText="Name" width="150"></e-grid-column>
                    <e-grid-column field="Email" type="string" headerText="Email" width="150"></e-grid-column>
                    <e-grid-column field="Gender" filter="@(new { type="CheckBox"})" headerText="Gender" width="150"></e-grid-column>
                    <e-grid-column field="MaritalStatus" filter="@(new { type="CheckBox"})"  headerText="Status" type="text"  width="150"></e-grid-column>
                    <e-grid-column field="MobileNumber" type="string" headerText="Phone" type="text"  width="150"></e-grid-column>
                </e-grid-columns>
            
            </ejs-grid>

            <ejs-scripts></ejs-scripts>
            </div>
        </div>
</body>
